.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  hieght: 10%;
  width: 10%;
}

.back {
  text-align: center;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}
